@model ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container w-25">
    <form method="post" asp-action="ForgotPassword" class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="forgot-password-tab">
        <div class="mb-3">
            <label asp-for="EmailOrUserName" class="form-label" for="emailorusername">Email or username</label>
            <input asp-for="EmailOrUserName" autocomplete="off" class="form-control" type="text" id="emailorusername" name="emailorusername" required>
            <span class="text-danger" asp-validation-for="EmailOrUserName"></span>
        </div>
        <button id="forgot-password-btn" class="btn btn-primary btn-shadow d-block w-100" type="submit">Send email</button>
        <button id="loading-btn" class="btn btn-primary btn-shadow d-block w-100 d-none" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        </button>
    </form>
</div>

