
@{
    ViewData["Title"] = "ForgotPasswordSuccess";
}

<div class="mt-5 container">
    <div class="alert alert-success" role="alert">
        Please check your email for reset password!
    </div>
</div>

