@model PasswordResetVM
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container w-25">
    <form method="post" asp-action="ResetPassword" class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="reset-password-tab">
        <div class="mb-3">
            <label class="form-label" asp-for="NewPassword">New password</label>
            <div class="password-toggle">
                <input asp-for="NewPassword" autocomplete="off" class="form-control" id="newpassword" name="newpassword">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="confirmpassword">Confirm password</label>
            <div class="password-toggle">
                <input autocomplete="off" class="form-control" type="password" id="confirmpassword" name="confirmpassword">
                <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
            </div>
        </div>
        <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
        <input type="hidden" asp-for="Token" value="@Model.Token"/>
        <button id="Reset-password-btn" class="btn btn-primary btn-shadow d-block w-100" type="submit">Reset password</button>
        <button id="loading-btn" class="btn btn-primary btn-shadow d-block w-100 d-none" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
        </button>
    </form>
</div>

