@model IEnumerable<CheckoutVM>
<!-- Orders list-->
@if (Model.Any())
{
    <div class="table-responsive fs-md mb-4">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>Date Purchased</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Restaurant</th>
                    <th>Review Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var checkout in Model)
                {
                    <tr>
                        <td class="py-3">@checkout.CreatedDate</td>
                        <td class="py-3"><span class="badge bg-info m-0">@checkout.Status</span></td>
                        <td class="py-3">$@checkout.TotalPrice</td>
                        <td class="py-3">@checkout.Restaurant</td>
                        <td>
                            @if (checkout.Status == "Delivered" && checkout.Review == null)
                            {
                                <a data-checkoutId="@checkout.Id"
                                   class="btn btn-outline-primary toggle-create"
                                   href="#review-create-modal"
                                   data-bs-toggle="modal">
                                    Add review
                                </a>
                            }
                            else if (checkout.Review != null)
                            {
                                <button 
                                   class="btn btn-outline-primary" disabled="">
                                    Your review was submitted
                                </button>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="row justify-content-center pt-lg-4 text-center">
        <div class="col-lg-5 col-md-7 col-sm-9">
            <h1 class="h3">Your don't have any orders </h1>
        </div>
    </div>
}
