@model UserVM

<form id="from-update" method="post" asp-action="Edit">
    @*    <div class="bg-secondary rounded-3 p-4 mb-4">
                    <div class="d-flex align-items-center">
                    <img class="rounded" src="img/shop/account/avatar.jpg" width="90" alt="Nigam Mishra">
                    <div class="ps-3">
                    <button class="btn btn-light btn-shadow btn-sm mb-2" type="button"><i class="ci-loading me-2"></i>Change avatar</button>
                    <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                    </div>
                    </div>
                    </div> *@
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row gx-4 gy-3">
        <div class="col-sm-12">
            <label class="form-label" for="account-email">Email Address</label>
            <input asp-for="Email" class="form-control" type="email" id="account-email" value="@Model.Email" disabled="">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="fullname">Full name</label>
            <input asp-for="FullName" class="form-control" type="text" id="fullname" name="fullname" value="@Model.FullName">
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="username">UserName</label>
            <input asp-for="UserName" class="form-control" type="text" id="username" name="username" value="@Model.UserName">
        </div>
        <div class="col-6">
            <hr class="mt-2 mb-3">
            <div class="d-flex flex-wrap justify-content-start align-items-center">
                <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Update profile</button>
                <a id="toggle-password" class="btn btn-primary mt-3 mt-sm-0 mx-3" href="#password-modal" data-bs-toggle="modal">Change password</a>
            </div>
        </div>
    </div>
</form>
